  {% load static %}
  <!--3rd card row start-->
  <div class="main-2" style="width:100%;height:415px; background-color:#EAEDED;">
    <div class="card-group">

    <!--card-1-->       
   <div class="card card-7 d-flex  " style="width: 18rem;height:390px;">
     
     <h3 class="p-3 fw-bolder fs-5" style="font-weight:600;">
     Gifting season is here<br>pick something for you</h1>
       <!--1 row -->
       <div class="box d-flex">
       <div class="  square   square-lg" style="width:155px;">
         <img src="{% static '/3-card-row/card-1/1_2x_ghj._SY232_CB617859049_.jpg' %}" class="w-h-100" 
         style="width:120px; height:100px;"
         alt="...">
         <a href="#" class="stretched-link"></a>

         <p class="ms-3">Necklases</p>
       </div>
       <div class="  square   square-lg">
         <img src="{% static '/3-card-row/card-1/2_2x_lkjh._SY232_CB617859049_.jpg' %}"  
         style="width:120px;height:100px" 
         class="w-h-100" 
         alt="...">
         <a href="#" class="stretched-link"></a>

         <p class="ms-3">Men's active shoes</p>
       </div>
       
      </div>
      <!--2nd row-->
     

      <div class="box d-flex">
       <div class="  square   square-lg">
         <img src="{% static '/3-card-row/card-1/3_2x_poiu._SY232_CB617859049_.jpg' %}" class="w-h-100" 
         style="width:120px;height:100px"
         alt="...">
         <a href="#" class="stretched-link"></a>

         <p class="ms-3">Handbags</p>
       </div>
       <div class="  square   square-lg ms-4">
         <img src="{% static '/3-card-row/card-1/4_2x_xcvb._SY232_CB617859049_.jpg' %}"  
         style="width:120px;height:100px;" 
         class="w-h-100" 
         alt="...">
         <a href="#" class="stretched-link"></a>

         <p class="ms-3">Men's watches</p>
       </div>
       
      </div>
      <p class="text-primary ms-3">Shop now</a>
   </div>
 
    <!--card-2-->
<div class="card card-8 d-flex  " style="width:18rem; height:390px;">
 <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Birthday store</h1>
   <!--1 row -->
   <div class="box d-flex">
   <div class="  square   square-lg ">
     <img src="{% static '/3-card-row/card-2/Artboard_1QC2_1x._SY116_CB662999955_.jpg' %}" class="w-h-100 ms-3" 
     style="width:120px;height:100px;"
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-4">Gift for men</p>
   </div>
   <div class="  square   square-lg">
     <img src="{% static '/3-card-row/card-2/Artboard_2QC2_2x._SY232_CB662999952_.jpg' %}"  style="width:120px; height:100px;" 
     class="w-h-100 ms-3" 
     alt="...">
     <p class="ms-4">Gift for women</p>
   </div>
   
  </div>
  <!--4nd row-->
 

  <div class="box d-flex">
   <div class="  square   square-lg" style="width:155px;">
     <img src="{% static '/3-card-row/card-2/Artboard_3QC2_2x._SY232_CB662999952_.jpg' %}" class="w-h-100 ms-3" 
      style="width:120px;height:100px;"
     alt="...">
     <p class="ms-3">Gift for boys</p>
   </div>
   <div class="  square   square-lg">
     <img src="{% static '/3-card-row/card-2/Artboard_4QC2_2x._SY232_CB662999955_.jpg' %}"  style="width:120px; height:100px;" 
     class="w-h-100 ms-1" 
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-4">Gift for girls</p>
   </div>
   
  </div>
  <p class="text-primary ms-3">See more</a>
</div>
<!--2nd card end-->
  <!--card-3-->
<div class="card card-9 d-flex  " style="width: 19rem; height:390px;" >
 <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Upto 70% off | Tools</h1>
   <!--1 row -->
   <div class="box d-flex">
   <div class=" square  square-lg">
     <img src="{% static '/3-card-row/card-3/372x232._SY232_CB610509523_.jpg' %}" class="w-h-100" 
     style="width:120px;height:100px;"
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-3">Extends Boards and<br>more</p>
   </div>
   <div class="  square   square-lg">
     <img src="{% static '/3-card-row/card-3/372x232_1a._SY232_CB610512278_.jpg' %}"  style="width:120px;height:100px;" 
     class="w-h-100" 
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-3">spin mops and more</p>
   </div>
   
  </div>
  <!--6nd row-->
 

  <div class="box d-flex">
   <div class="  square   square-lg" >
     <img src="{% static '/3-card-row/card-3/372x232_2b._SY232_CB610512278_.jpg' %}" class="w-h-100" 
     style="width:120px;height:100px;"
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-3">Drill machines tool kits</p>
   </div>
   <div class="  square   square-lg">
     <img src="{% static '/3-card-row/card-3/372x232_3c._SY232_CB610512278_.jpg' %}"  
     style="width:120px;height:100px;" 
     class="w-h-100 " 
     alt="...">
     <a href="#" class="stretched-link"></a>

     <p class="ms-3">Bathroom Accessories</p>
   </div>
   
  </div>
  <p class="text-primary ms-3">See all offers</a>
</div>
<!--3rd card end-->
<!--4th  card-->
<div class="card card-9 d-flex  " style="width: 13rem; height:390px;" >
 <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Fitbits at offer prices <br>from small business</h1>
   <img src="{% static '/3-card-row/card-4/2X_CC-PC_758X608_lkjh._SY608_CB617857786_.jpg' %}" 
   style="width:290px;"alt="">
   <a href="#" class="stretched-link"></a>
  <p class="ms-3 text-primary">see more</p>
 </div>  
 
 
 <!--3rd cards row end -->
 </div>
  </div>
  <!--ad-->
  <div class="ad"style="width:100%;background-color:#EAEDED">
      <div class="container p-4">
        <img src="{% static '/img/970X250-_desktop_banner.jpg' %}" alt=""> 
        </div>
  </div>
  <!--ad end-->


<!--4th card row start-->

<div class="main-2 " style="width:100%;height:315px; background-color:#EAEDED;">
        <div class="container ">
          <div class="ad bg-light ms-5" style="width:1000px;">
               <div class="element d-flex">
                <div class="img p-4" >
                  <img src="{{ad.image.url}}" style="width:160px;height:230px;" alt="">
                </div>
                <div class="head " style="margin-top: 6rem;">
                  <h5 style="color:#111111" class="ms-3">{{ad.head|wordwrap:3}}</h5>
                  <img src="{{ad.rating_img.url}}" style="width:100px;"  alt=""><span style="color:#555555; font-size:14px;">{{ad.users}}</span>
                  <p class="ms-3 fw-bold" style="color:#B32704;font-size:20px;">₹{{ad.discount_price}}.00    </p>
                 </div>
               </div>
          </div>

        </div>
     </div>
















     <!--4th slide start-->
              <div id="productslides-4" class="carousel slide mt-2 mx-auto " data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <h1 class="fw-bolder fs-4 p-2 ms-4">Most Users purchased Products</h1>
                 
<div class="carousel-item active">
  <div class="row">
  {% for deal in Mobiles %}
  <div class="col text-center" style="width:270px;height:200px;">
  <a href="{% url 'productpage' %}?head={{deal.head}}&id={{deal.id}}">
  {% if foorloop.first %}
  <img src="{{deal.image.url}}" style="max-width: 100%;max-height: 100%;" alt="">
  {% else %} 
  <img src="{{deal.image.url}}"  class="" style="max-width: 100%;max-height: 100%;;" alt="">
  
  {% endif %}
  </a> 
  </div>
  {% endfor %}
  </div>
  </div>
  <!--row-1 end-->
  
  
  <!--row-2-->
  
  <div  class="carousel-item">
  <div class="row">
  {% for image in Tv %}
  <div class="col text-center" style="width:270px;height:200px;">
    <a href="{% url 'productpage' %}?head={{image.head}}&id={{image.id}}">
    {% if foorloop.first %}
  <img src="{{image.image}}" style="max-width: 100%;max-height:100%;" alt="">
  {% else %} 
  <img src="{{image.image}}"  class="ms-5" style="max-width: 100%;max-height: 100%;" alt="">
  </a>
  {% endif %}
  
  </div>
  {% endfor %}
  </div>
  </div>
  <!--row-2 end-->
  
  
  <!--row-3-->
  <div  class="carousel-item">
  <div class="row">
  {% for image in Laptops %}
  <div class="col text-center" style="width:270px;height:200px;">
  <a href="{% url 'productpage' %}?head={{image.head}}&id={{image.id}}">
    {% if foorloop.first %}
  <img src="{{image.image}}" style="max-width: 100%;max-height: 100%;" alt="">
  {% else %} 
  <img src="{{image.image}}"  class="" style="max-width: 100%;max-height: 100%;" alt="">
  </a> 
  {% endif %}
  
  </div>
  {% endfor %}
  </div>
  
  
  </div>
  <!--row-3 end-->
  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productslides-4" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon p-4" 
                  style="background-color:#999999;
                   margin-right: 7rem;"
                  aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productslides-4" data-bs-slide="next">
                  <span class="carousel-control-next-icon p-4"
                  style="background-color:#999999;
                   margin-left: 5rem;" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
      



         <!--4th slide end-->

    
         

         <!--womens clothing slide-->

<!--slide-3-->

<!--5th slide-->
<div class="w-100" style="background-color:#EAEDED">.</div>
<div id="productslides-5" class="carousel slide mt-2 mx-auto " data-bs-touch="false" data-bs-interval="false">
  <a href="{% url 'search' value='womens_clothes' %}" style="text-decoration: none;">
  <h1 class="fw-bolder fs-4 p-2 ms-4 text-dark">Womens Clothing<span 
    style="font-size:15px; color:#007185;" class="ms-2 mt-1">See more results</span></h1>
  </a>

 
  <div class="carousel-inner">
     <!--row-1-->

<div class="carousel-item active">
<div class="row">
{% for deal in image_group7 %}

<div class="col">
  <a href="{% url 'search' value='womens_clothes' %}"class="text-decoration-none">
 
{% if foorloop.first %}
<img src="{{deal.image}}" style="width:170px;height:150px;" alt="">
{% else %} 
<img src="{{deal.image}}"  class="ms-5" style="height:170px;width:150px;" alt="">
</a>
{% endif %}

<p class="p-1 ms-5 "style="font-size:12px;color:#CC0C39;font-weight: 700;">
<span class="p-1 "style="color:#fff;background-color:#CC0C39">Up to {{deal.discount}}</span> Deal off the day</p>

</div>
{% endfor %}

</div>
</div>
<!--row-1 end-->


<!--row-2-->

<div  class="carousel-item">
<div class="row">
{% for image in image_group8 %}
<div class="col">
{% if foorloop.first %}

<a href="{% url 'search' value='womens_clothes' %}"class="text-decoration-none">

<img src="{{image.image}}" style="width:170px;height:150px;" alt="">
{% else %} 
<img src="{{image.image}}"  class="ms-5" style="height:170px;width:150px;" alt="">
</a>
{% endif %}

<p class="p-1 ms-5"style="font-size:12px;color:#CC0C39;font-weight: 700;">
<span class="p-1"style="color:#fff;background-color:#CC0C39">Up to {{image.discount}}</span> Deal off the day</p>

</div>
{% endfor %}
</div>
</div>
<!--row-2 end-->


<!--row-3-->
<div  class="carousel-item">
<div class="row">
{% for image in image_group9 %}
<div class="col">
{% if foorloop.first %}
<a href="{% url 'search' value='womens_clothes' %}"class="text-decoration-none">

<img src="{{image.image}}" style="width:170px;height:150px;" alt="">
{% else %} 
<img src="{{image.image}}"  class="ms-5" style="height:170px;width:150px;" alt="">
</a>
{% endif %}

<p class="p-1 ms-5"style="font-size:12px;color:#CC0C39;font-weight: 700;">
<span class="p-1"style="color:#fff;background-color:#CC0C39">Up to {{image.discount}}</span> Deal off the day</p>

</div>
{% endfor %}
</div>


</div>
<!--row-3 end-->

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#productslides-5" data-bs-slide="prev">
    <span class="carousel-control-prev-icon p-4" 
    style="background-color:#999999;
     margin-right: 7rem;"
    aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productslides-5" data-bs-slide="next">
    <span class="carousel-control-next-icon p-4"
    style="background-color:#999999;
     margin-left: 5rem;" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





















































































































<!--
<!--
<!--
<!--
<!--<div class="carousel-item active">
<!--  <div class="row row-1 p-2">
<!--    <!--row-1-->
<!--    <!--img-1-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-1/41mLW7nJSEL._AC_SY400_.jpg' %}" 
<!--      style="width:230px;height:230px"
<!--      
<!--      alt="">
<!--    </div>
<!--    <!--img-2-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-1/519p72yMH0L._AC_SY400_.jpg' %}" 
<!--      
<!--      style="width:230px;height:230px"
<!--      alt="">
<!--    </div>
<!--    <!--img-3-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-1/51lB5ftiEOL._AC_SY400_.jpg' %}" 
<!--      style="width:230px;height:230px"
<!--      
<!--      alt="">
<!--    </div>
<!--    <!--img-4-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-1/61ouaBJBYEL._AC_SY400_.jpg' %}" 
<!--      style="width:230px;height:230px"
<!--      
<!--      alt="">
<!--    </div>
<!--    <!--img-5-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-1/51xvScs5XKL._AC_SY400_.jpg' %}" 
<!--       
<!--       style="width:200px;"
<!--      alt="">
<!--    </div>
<!--   
<!--  </div>
<!--</div>
<!--<!--carousel item-2-->
<!--<div class="carousel-item">
<!--  <div class="row">
<!--    <!--img-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-2/51yIaUgUCKL._AC_SY400_.jpg' %}" 
<!--       style="width:200px;height:230px;"
<!--      alt="">
<!--    </div>
<!--    <!--img-2-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-2/61+ilDgVVwS._AC_SY400_.jpg' %}" 
<!--       style="width:200px;height:230px;"
<!--      alt="">
<!--    </div>
<!--    <!--img-3-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-2/61Bz-bieHqS._AC_SY400_.jpg' %}" 
<!--       style="width:200px; height:230px;"
<!--      alt="">
<!--    </div>
<!--    <!--img-4-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-2/71MMT4HYIiL._AC_SY400_.jpg' %}" 
<!--       style="width:200px;height:230px;"
<!--      alt="">
<!--    </div>
<!--    <!--img-5-->
<!--    <div class="col">
<!--      <img src="{% static '/slide-4/row-2/91xuhwPSy9L._AC_SY400_.jpg' %}" 
<!--       style="width:200px;height:230px;"
<!--      alt="">
<!--    </div>
<!--  </div>
<!--</div>





























<!---
<!---
<!---
<!---
<!---
<!---
<!---
<!
---
<!
---
<!
---
<!
<!-----
<!--<!
<!-----
<!--<div class="card-group">
<!--  <!--card-1-->
<!--  <div class="card card-9 d-flex  " style="width: 13rem; height:390px;" >
<!--    <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Sell on Amazon with 1- <br>Click Launch Support</h1>
<!--      <img src="{% static '/4-card-row/card-1/BTF_Nov22_0.5x._SY608_CB620465154_.jpeg" 
<!--      style="width:290px;"alt="">
<!--      <a href="#" class="stretched-link"></a>
<!--     <p class="ms-3 text-primary">see more</p>
<!--    </div>
<!--    <!--card1-end-->
<!--    <!--card-2-->  
<!--    <div class="card card-9 d-flex  " style="width: 13rem; height:390px;" >
<!--      <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">New Series CRUSHED |<br>Watch FREE on miniTV</h1>
<!--        <img src="{% static '/4-card-row/card-2/DeskCC-758x608_CRUSHED-S2_V2_1._SY608_CB620412632_.jpg' %}" 
<!--        style="width:290px;"alt="">
<!--        <a href="#" class="stretched-link"></a>
<!--       <p class="ms-3 text-primary">See more</p>
<!--      </div>
<!--      <!--card-2-end-->
<!--    <!--card-3-->  
<!--    <div class="card card-9 d-flex  " style="width: 13rem; height:390px;" >
<!--      <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Up to 60% off |Fitness <br>essentials to set up yo..</h1>
<!--        <img src="{% static '/4-card-row/card-3/1199101_758x608_New_compressed._SY608_CB448277514_.jpg' %}" 
<!--        style="width:290px;"alt="">
<!--        <a href="#" class="stretched-link"></a>
<!--       <p class="ms-3 text-primary">See more</p>
<!--      </div>
<!--      <!--card-3-end-->
<!--      <!--card-4-->  
<!--    <div class="card card-9 d-flex  " style="width: 13rem; height:390px;" >
<!--      <h3 class="p-3 fw-bolder fs-4" style="font-weight:600;">Up to 60% off |<br>Professional tools &..</h1>
<!--        <img src="{% static '/4-card-row/card-4/cc_01_758x608._SY608_CB625522036_.jpg' %}" 
<!--        style="width:290px;"alt="">
<!--        <a href="#" class="stretched-link"></a>
<!--       <p class="ms-3 text-primary">See more</p>
<!--      </div>
<!--      <!--card-4-end-->
<!--    
<!--      
<!--    
<!--    <!--4th cards row end -->
<!--    </div>
<!--